/*styles.css file to apply a light community background image
*/
body{
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    background-image: url('..images/community-background.jpg'); /*path to the image*/
    background-size:cover;                                      /*to cover the page background*/
    background-repeat: no-repeat;
    background-attachment: fixed;                               /*to fix the background image*/
    background-position: center;
    color: #333;                                               /*text color*/
    /*line-height: 1.6;              line height*/
}
/*Map container styling */
#map {
    height: 500px; 
    width:100%;
    margin: top 20px;
    background-color: rgba(255,255,255,0.8);                    /*White background with transparency*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);;

}
/*Header styling*/
header {
   background-color: rgba(46,139,87,0.9);                        /*dark green background with transparency*/
   color: black;                                                 /*text color*/
   padding: 20px;                                                  /*padding around the header*/
   text-align: center;                                             /*text alighttment in the center*/
}
/* Main content styling*/
main {
    padding: 20px;

}
/*Padding to the text*/
main h2 main p {
    background-color: rgba(255,255,255,0.8);           /*White background with transparency*/
    padding: 10px;
    border-radius: 5px;                                  /*Rounded corrners*/
}